/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --header-height: 3rem;

/* var color */
    --hue-color: rgb(181, 181, 228);
    --first-color: rgb(99, 72, 37);
    --first-color-second: rgb(197, 237, 233);
    --first-color-alt: rgb(241, 231, 247);
    --first-color-lighter: rgb(245, 245, 158);
    --title-color: black;
    --text-color: black;
    --text-color-light: gray;
    --input-color: rgb(211, 240, 190);
    --body-color: rgb(212, 249, 241);
    --container-color: rgb(243, 240, 240);
/* var font */
    --body-font: 'Poppins', sans-serif;

/* var font size */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
/* var font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
/* var Margin Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2.5rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
/* var z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/* var media queries */
@media screen and (min-width: 968px) {
    .root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
     }
    }
/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.section {
    padding: 2rem 0 4rem;
}
.section_title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
}
.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}
.section_title, .section_subtitle{
    text-align: center;
}
/* Layout */
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* nav */
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo, .nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
/* when you hover links */
.nav_toggle:hover, .nav_link:hover, .active-link,
 .nav_logo:hover{
    color: var(--first-color);
}

.nav_close:hover, .home_social-icon:hover, .button:hover, .scrollup:hover{
    color: var(--first-color-alt);
}
.nav_toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
/* media queries */
@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}
/* grid/column and spacing for nav list  */
.nav_list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
/* positon for nav link */
.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
/* icon size */
.nav_icon{
    font-size: 1.2rem;
}
/* close button */
.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: var(--h1-font-size);
    cursor: pointer;
    color: var(--first-color);
}
.show-menu{
    bottom: 0;
}  
/* Main - Home */
.home_social-icon{
    font-size: var(--h2-font-size);
    color: var(--first-color);
}
/* buttons */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color:#fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
/* project */
.portfolio_container {
    overflow: initial;
}
.portfolio_content {
    padding: 0 1.5rem;
}
.portfolio_img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}
.portfolio_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}
.portfolio_description {
    margin-bottom: var(--mb-0-75);
}
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}
.swiper-button-prev {
    left: -.5rem;
}
.swiper-button-next {
    right: -.5rem;
}
.swiper-button-prev,
.swiper-button-next {
    outline: none;
}
/*Footer*/
.footer {
padding-top: 2rem;
}
.footer_container {
row-gap: 3.5rem;
}
.footer_bg {
background-color: var(--first-color-second);
padding: 2rem 0 3rem;
}
.footer_title {
font-size: var(--h1-font-size);
margin-bottom: var(--mb-0-25);
}
.footer_subtitle {
font-size: var(--small-font-size);
}
.footer_links {
display: flex;
flex-direction: column;
row-gap: 1.5rem;
}
.footer_link:hover {
color: var(--first-color-lighter);
}
.footer_social {
font-size: 1.25rem;
margin-right: var(--mb-1-5);
}
.footer_social:hover {
color: var(--first-color-lighter);
}
.footer_copy {
font-size: var(--smaller-font-size);
text-align: center;
color: var(--text-color-light);
margin-top: var(--mb-3);
}
.footer_title, .footer_subtitle, .footer_link, .footer_social {
color: rgb(138, 116, 76);
}
/*SCROLL UP */
.scrollup {
position: fixed;
right: 1rem;
bottom: -20%;
background-color: var(--first-color);
opacity: .8;
padding: 0 .3rem;
border-radius: .4rem;
z-index: var(--z-tooltip);
transition: .4s;
}
.scrollup:hover {
background-color: var(--first-color-alt);
}
.scrollup_icon {
font-size: 1.5rem;
color: #FFF;
}
/* Show scroll */
.show-scroll {
bottom: 5rem;
}
/*SCROLL BAR*/
::-webkit-scrollbar {
width: .60rem;
border-radius: .5rem;
background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
background-color: var(--scroll-thumb-color);
border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
background-color: var(--text-color-light);
}
/* MEDIA QUERIES */
/* For small devices */
@media screen and (max-width: 350px) {
.container {
margin-left: var(--mb-1);
margin-right: var(--mb-1);
}
.nav_menu {
padding: 2rem .25rem 4rem;
}
.nav_list {
column-gap: 0;
}
}
/* For medium devices */
@media screen and (min-width: 568px) {
.about_container,
.portfolio_content,
.footer_container {
grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (min-width: 768px) {
.container {
margin-left: auto;
margin-right: auto;
}
body {
margin: 0;
}
.section {
padding: 6rem 0 2rem;
}
.section_subtitle {
margin-bottom: 4rem;
}
.header {
top: 0;
bottom: initial;
}
.header,
.main,
.footer_container {
padding: 0 1rem;
}
.nav {
height: calc(var(--header-height) + 1.5rem);
column-gap: 1rem;
}
.nav_icon, .nav_close, .nav_toggle {
display: none;
}
.nav_list {
display: flex;
column-gap: 2rem;
}
.nav_menu {
margin-left: auto;
}
.about_container {
column-gap: 5rem;
}
.portfolio_img {
width: 320px;
}
.portfolio_content {
align-items: center;
}
.footer_container {
grid-template-columns: repeat(3, 1fr);
}
.footer_bg {
padding: 3rem 0 3.5rem;
}
.footer_links {
flex-direction: row;
column-gap: 2rem;
}
.footer_socials {
justify-self: flex-end;
}
.footer_copy {
margin-top: 4.5rem;
}
}
/* For large devices */
@media screen and (min-width: 1024px) {
.header,
.main,
.footer_container {
padding: 0;
}
.portfolio_content {
column-gap: 5rem;
}
.swiper-button-prev {
left: -3.5rem;
}
.swiper-button-next {
right: -3.5rem;
}
}
.games-bg {
    background: var(--input-color);
    border-inline-color: var(--first-color);
}
.search-btn, .favorites-btn {
  background: rgb(255, 255, 255);
  border: none;
  padding:5px;
  height: 50px;
  width: 50px;
}
.duck-icon {
  width: 200px;
  height: 200px;
  
}
.result-item-text {
    display: inline-block;
    font-family: var(--body-font);
    font-size: 20px;
}
.tosave-btn, #instruction-icon, .codey-icon {
    width: 40px;
    height: 40px;
    border-color: #fff;
}
.previous-next {
    width: 100px;
    height: 50px;
}
